.content {
	margin: auto;
	width: 70%;
	text-align: center;
	font-family: Lato, sans-serif;
}

a {
	text-decoration: none;
}

#title {
	text-align: center;
	font-family: Lato, sans-serif;
	font-size: 2.5em;
}

#panel-options {
	display: table;
	width: 100%;
	margin: auto;
	border-spacing: 20px;
}

#panel-options > * {
	display: table-row;
}

#panel-options .col {
	display: table-cell;
	text-align: center;
	padding: 50px;
	font-family: Lato, sans-serif;
	border-radius: 20px;
	font-size: 1.5em;
}

#experience {
	background-color: #e6fbff;
}

#experience:hover {
	background-color: #c8fbfa;
}

#teaching {
	background-color: #dae7ff;
}

#teaching:hover {
	background-color: #bce8ff;
}

#blog {
	background-color: #fcddff;
}

#blog:hover {
	background-color: #deddff;
}

#about {
	background-color: #ffdae6;
}

#about:hover {
	background-color: #e1dae6;
}

#text {
	text-align: left;
}
